html, body{
	height: 100%;
}

header{
	background-image: url(../img/castelo.jpg);
	height: 100%;
	background-size: cover;
	background-position: top center;
	position: relative;
}

header h1{
	margin-top: 0;
	margin-bottom: 0;
}

.banner-principal{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	width: 80%;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.panel-group{
	margin-top: 20px;
}

.panel-title{
	font-size: .9em;
}
.panel-body{
	font-size: .8em;
}

.depoimento{
	background-color: blue;
	padding-top: 25px;
	padding-bottom: 20px;
	color: #fff;
	margin-bottom: 0;
	font-size: 24px;
	width: 100%;
}

.contato-select, .grupo-radio{
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.grupo-radio .radio:first-child{
	margin-top: 0;
}
.rodape{
	background-color: #333;
	color: #fff;
	padding: 20px; 
	margin-top: 10px;
}

.rodape address:last-child{
	margin-bottom: 0;
}

@media(min-width: 768px){
	.colunas-2{
		width: 50%;
		float: left;
	}

	.panel-group{
		margin-top: 0;
	}
}

@media(min-width: 992px){
	.banner-principal{
		left: 0;
		transform: translate(0, -80%);
		width: 50%
		margin: 0 auto;
	}

	.banner-wraper{
		position: relative;
		height: 100%;
	}
}